/* BODY */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* CONTAINER */

.container-fluid {
    padding: 3% 15% 7%;
}

/* TITLE */

#title {
    background-color: #ff4c68;
}

.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* NAV BAR */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* DOWNLOAD BUTTONS */

.download-button {
    margin: 5% 3% 5% 0;
}

/* FEATURES */

.features-img {
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-img:hover {
    color: #ff4c88;
}

#features {
    background-color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 7% 12%;
    position: relative;
}

.features-title {
    font-weight: bold;
}

.features-description {
    color: #8f8f8f;
    padding: 0 10%;
}

/* TESTIMONIALS */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* PRESS */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* PRICING */

#pricing {
    text-align: center;
    padding: 100px;
}

.card-deck {
padding: 3% 2%;
}

/* CTA */

#cta {
    background-color: #ff4c68;
    color: white;
    text-align: center;
    padding: 7% 15%;    
}

.cta-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

/* FOOTER */

#footer {
    text-align: center;
    padding-top: 7%;
}

.footer-icons {
    margin: 20px;
}

.footer-copyright {
    color: #8f8f8f;
}

.footer-icons:hover {
    color: rgb(64, 128, 224);
}

/* MEDIA QUERY */

@media (max-width: 1000px) {
    #title {
        text-align: center;
    }

    .title-img {
        position: static;
        transform: rotate(0);
        margin: auto;
    }
}